@model IEnumerable<StriveFitWebsite.Models.User>

@{
    ViewData["Title"] = "Enrolled Members";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
   // var schedule = ViewBag.Schedule as StriveFitWebsite.Models.Schedule;
}


<div class="content" style="background-color:#151515">
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg spad" data-setbg="/HomeDesign/img/about-bread.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>About Us</h2>
                        <div class="breadcrumb-controls">
                            <a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i> Home</a>
                            <span>About Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb End -->
    <h2 style="color: white;">Enrolled Members for the Schedule</h2>

    <table class="table" style="color: white;">
        <thead>
            <tr>
                <th style="color: white;">Name</th>
                <th style="color: white;">Email</th>
                <th style="color: white;">Is Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model)
            {
                <tr>
                    <td>@member.Name</td>
                    <td>@member.Email</td>
                    <td>@member.Isactive</td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Index" style="color: orangered;">Back to List</a>
</div>
